<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%level{WARN=+++, ERROR=***, length=0}%d{HH:mm:ss.SSS} [%t] %logger{-2} - %msg%n"/>
        </Console>
        <File name="LogFile" fileName="logs/hellolog4j2.log">
            <PatternLayout pattern="%level{WARN=+++, ERROR=***, length=0}%d{HH:mm:ss.SSS} [%t] %F:%L - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="LogFile"/>
        </Root>
    </Loggers>
</Configuration>
